@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
  }


p {
    font-size: 1.5rem;
    color: white;
    z-index: 1;
}

/*Custom Scrollbar*/
body::-webkit-scrollbar {
    background-color: #0b0b0c;
    width: 0.5em;
}
body::-webkit-scrollbar-thumb {
    background-color: #e96f05;
    border-radius: 100px;
    transition: all 0.5s;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ed974c;
}
/*Custom Scrollbar end*/

/*Nav Bar*/
nav {
    width: 100vw;
    height: 6.5vh;
    display: flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
}

.ham-menu {
    display: none;
}

.mobile-nav {
    background: #131316;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
}

.mobile-nav a {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    color: #fcfcfc;
}

.mobile-nav-hidden {
    transform: translateY(-100vh);
    transition: all 0.5s;
}

.mobile-nav-shown {
    background: #131316;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    transition: all 0.5s;
}

.mobile-nav-shown a {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    color: #fcfcfc;
}

.hidden-navbar {
    transform: translateY(-200px);
    transition: all 0.5s;
}


nav a {
    padding: 5px 30px 5px 30px;
    align-self: center;
    font-size: 24px;
    transition: 0.3s all;
    color:#E94D2B;
    font-family: 'Poppins', sans-serif;

}

nav .nav-link:hover {
    filter: brightness(0.7);
}


.btt-button {
    display: block;
    background-color: #131316a8;
    border: 1px solid #131316a8;
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    font-size: 32px;
    color: #e94e2b;
    top: 90vh;
    right: 15px;
    z-index: 99;
    transition: all 0.5s;
}

@media (hover:hover) {
    .btt-button:hover {
        color: #131316;
        background-color: #e94e2b;
    }
}

.hidden-button {
    transform: translateX(100vw);
}

a {
    text-decoration: none;
}
/*Nav Bar end*/

/*Welcome Section*/

h1 {
    font-size: 4rem;
    color: #E94D2B;
    z-index: 1;
}

#welcome-section p {
    color: #FAFAF9;
}


#profile-img {
    margin: 20px 0px 20px 0px;
    width: 15%;
    border-radius: 500px;
    box-shadow: 0 0 10px 2px #fcfbfd;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    z-index: 1;
    filter:saturate(1.2);
}


/*video*/

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#welcome-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

/*video end*/

/*Welcome Section end*/


/*About Section*/
.about-me {
    display: inline-block;
    text-align: center;
    background-color: #05040d;
    }

.about-text {
    background-color: #0d0b25;
    padding: 10px 100px 100px 100px;
}

.how-i-learned-title {
    padding-top: 100px;
}

.how-i-learned-text {
    padding-bottom: 10px;
}

.about-text h2 {
    color: #E94D2B;
    text-align: left;
}

.about-text p {
    color: #FAFAF9;
    text-align: left;
}

.about-list {
    margin-top: 50px;
}

.about-text hr {
    margin-bottom: 50px;
    border-color: #e96f05;
}

.about-logo {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}


h2 {
    font-size: 2.5rem;
    color: #E94D2B;
 }


/*About Section end*/

/*Swiper*/
.swiper {
    width: 60vw;
    height: 35vh;
    margin-top: 100px;
    margin-bottom: 100px;
}


.swiper-slide {
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
border-radius: 5px;
background: linear-gradient(180deg, rgba(247,145,193,1) 0%, rgba(5,22,22,1) 0%, rgba(14,23,30,1) 0%, rgba(33,32,50,1) 60%);
box-shadow: 0px 10px 13px -7px #000000, 5px 8px 17px 5px rgba(0,0,0,0.18);
display: flex;
height: 220px !important;
width: 170px !important;
flex-direction: column;
align-items: center;
padding: 10px;
cursor: grab;
}

.swiper-slide:active {
    cursor: grabbing;
}

.swiper-slide h4 {
    color: #e96f05;
}

.swiper-slide p{
font-size: 12px;
color: #FAFAF9;
}


/*Swiper end*/


/*Projects Section*/
.projects-section-title {
    text-align: center;
    margin-bottom: 150px;
    padding-top: 100px;
}
.my_projects {
background-color: #0d0b25;
}

.project-img {
    width: 40vw;
    height: 40vh;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    color: #E94D2B;
    border: solid;
}

@media (hover:hover) {
    .project-img:hover {
        filter: brightness(0.5);
    }
}



.project-buttons {
    padding: 0.6vw;
    position: relative;
    width: 200px;
    bottom: 34vh;
    left: 70vw;
    
}


.project-buttons i {
    color: #E94D2B;
    transform: scale(1.5);
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s;
}

@media (hover:hover) {
    .project-buttons i:hover {
        filter: brightness(0.5);
    }
}

.project-tile {
    margin-left: 2vw;
    color: #E94D2B;
    font-family: monospace;
    font-size: 1.5vw;
}

.project-title {
    position: relative;
    text-align: right;
    top: 1vh;
    right: 20vw;
}

.project-text {
    position: relative;
    bottom: 37vh;
    border-radius: 5px;
    left: 37vw;
    background-color: #1f1a48;
    width: 40vw;
    height: 15vw;
    padding: 1.5vw;
    font-size: 1.42vw;
    z-index: 10;
}

.project-text-2 {
position: relative;
width: 38vw;
height: 1vh;
bottom: 36vh;
left: 43vw;
font-size: 1.2vw;
word-spacing: 1.5vw;
color: #a4a4a2;
}

.more_projects {
    text-decoration: none;
    color: #E94D2B;
    background-color: #000000;
    font-family: 'Silkscreen', cursive;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    position: relative;
    left: 42vw;
    bottom: 20vh;
    transition: all 0.5s;
}

@media (hover:hover) {
    .more_projects:hover {
        color: #ff2f00;
    }
}
/*Projects Section end*/

/*Contact Section*/
#contact {
    background-color: #85393A;
    text-align: center;
}
#contact h2 {
    color: #212032;
    padding-top: 40px;
}

#contact p {
    color: #FAFAF9;
}



.logos {
    width: 20%;
}

.social_media {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.social_media button {
    margin: 2rem;
    font-size: 25px;
    padding: 10px;
    color: #212032;
    transition: 0.5s all;
    position: relative;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    
}

.social_media button a {
    color:#212032;
    transition: 0.5s all;
}

.social_media button:hover {
    top: -10px;
    color: #FAFAF9;
}

.social_media button a:hover {
    top: -10px;
    color: #FAFAF9;
}


/*ToolTips*/
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    font-size: 14px;
    background-color: #212032;
    color: #FAFAF9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #212032 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
@media screen and (max-width:1224px) {
nav {
    height: 45px;
}
nav a {
    font-size: 20px;
}


.project-img {
    width: 40vw;
}

#profile-img {
    width: 30%;
    
}

.more_projects {
   position: relative;
   display: inline-block;
   margin-bottom: 20vh; 
    top: 1vw;
}
.social_media {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social_media a {
    margin: 1rem;
}


.swiper {
width: 95vw;
height: 50vh;
}
.about {
    background: #131316;
}


.logos {
    width: 10%;
}

}

@media screen and (max-width:757px) {

    nav {
        display: none;
    }

    .ham-menu {
        background: none;
        border: none;
        display: block;
        position: fixed;
        color: #E94D2B;
        right: 10px;
        top: 1vh;
        z-index: 999;
        font-size: 40px;
    }

    .about-logo {
        width: 80vw;
        height: 20rem;
        overflow: hidden;
    }

    #profile-img {
        width: 40%;
        
    }


    .about-text {
        padding: 0px 30px 0px 30px;
    }
    
    .logos {
        width: 15%;
    }
    .my_projects {
        text-align: center;
    }

    .project-img {
        width: 80vw;
        height: 30vh;
        position: static;
        border-radius: 5px 5px 0 0;
        border-bottom: 0px;
        border-width: 2px;
    }
    

    
    .project-buttons {
        position: static;
        width: auto;
        margin-top: 30px;
    }
    
    
    .project-buttons i {
        font-size: 1rem;
        text-align: center;
    }

    .project-tile {
        margin-bottom: 10vh;

    }
    
    .project-title {
        font-size: 24px;
        margin-bottom: 20px;
        display: block;
        position: static;
        text-align: center;
    }
    
    .project-text {
        width: 77vw;
        height: fit-content;
        position: static;
        font-size: 14px;
        margin-left: 8.5vw;
        border: solid;
        border-color: #E94D2B;
        border-width: 2px;
        border-top: 0;
        border-radius: 0 0 5px 5px;
    }
    
    .project-text-2 {
        position: static;
        font-size: 12px;
        width: auto;
        margin-top: 15px;
    }
    
    .more_projects {
        font-size: 12px;
        display:inline-block;
        position: static;
        margin-bottom: 100px;
        
    }

    .social_media {
        flex-direction: column;
        justify-items: left;
    }


    
    .social_media button {
        margin: 0;
        margin-top: 30px;
        padding: 10px;
    }
}


